<div class="card bg-light text-black" (mouseover)="show = true" (mouseleave)="show = false">
    <img [src]="image.main_attachment.big" class="card-img-top" alt="image.title">
    <div class="card-body">
        <h5 class="card-title">{{image.title | uppercase}}</h5>
        <p class="card-text">by {{image.author}}</p>
    </div>
    <div class="card-img-overlay gradient-black-transparent" *ngIf="show">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3 text-center text-white">
                <button class="btn" (click)="(image.liked) ? image.likes_count = image.likes_count - 1 : image.likes_count = image.likes_count + 1; image.liked = !image.liked;"><img [src]="image.liked ? 'assets/img/like.png' : 'assets/img/dislike.png'"></button>
                <p>{{image.likes_count}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3 text-center text-white">
                <button class="btn" (click)="image.likes_count = 0; image.liked = false;"><img src="assets/img/reset.png"></button>
                <p>000</p>
            </div>
        </div>
    </div>
</div>